<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<table th:object="${customer}">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
    </tr>
</table>
<a th:href="@{/}">Click</a>
<h2 th:text="true and false"></h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <th:block th:each="cus:${customersList}">
        <tr>
            <td th:utext="${cus.getId()}">ID</td>
            <td th:utext="${cus.getName()}">Name</td>
        </tr>
    </th:block>
</table>
</body>
</html>