<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deposit</title>
    <th:block th:replace="/layout/head :: head"></th:block>
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>Deposit</h1>
            </div>
            <div class="col-sm-7">
                <a href="/customers" class="btn btn-outline-light">
                    <i class="fa-solid fa-bars"></i>
                    <span>List of customers</span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <form method="post" autocomplete="off" th:object="${newDeposit}" th:if="${newDeposit}">
            <div class="row mt-3">
                <div class="col-md-6 mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" readonly
                           th:value="${newDeposit.customer.fullName}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" readonly
                           th:value="${newDeposit.customer.email}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="balance" class="form-label">Balance</label>
                    <input type="number" class="form-control" id="balance" readonly
                           th:value="${newDeposit.customer.balance}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="amount" class="form-label">Transaction Amount (VND)</label>
                    <input type="number" class="form-control" id="amount"
                            th:field="*{transactionAmount}">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fas fa-plus-circle"></i>
                Deposit
            </button>
        </form>
    </div>
</div>

<th:block th:if="${hasError} == true">
    <div class="fixed-bottom alert alert-danger">
        <h5>Please correct errors below:</h5>
        <ul>
            <li th:each="err : ${#fields.errors('newDeposit.*')}" th:text="${err}"></li>
        </ul>
    </div>
</th:block>

<th:block th:replace="/layout/operation-status :: operation-status"></th:block>
<th:block th:replace="/layout/script :: script"></th:block></body>
</html>